<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- replace Magento\InventorySales\Plugin\Sales\OrderManagement\AppendReservationsAfterOrderPlacementPlugin in order to bypass it programmatically -->
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="inventory_reservations_placement" type="Magento\InventorySales\Plugin\Sales\OrderManagement\AppendReservationsAfterOrderPlacementPlugin" disabled="true" />
    </type>
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="noreservations_eightwire_inventory_reservations_placement" type="EightWire\NoReservations\Plugin\AppendReservationsAfterOrderPlacementPlugin" />
    </type>
</config>