<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <!-- replace core observer source stock deduction on shipments with our own, that contains the scopeConfig variable to enable/disable it -->
        <observer name="inventory_sales_source_deduction_processor" instance="Magento\InventoryShipping\Observer\SourceDeductionProcessor" disabled="true"/>
        <observer name="noreservations_shipping_inventory_sales_source_deduction_processor" instance="EightWire\NoReservations\Observer\ShippingSourceDeductionProcessor" />
    </event>
    <event name="sales_order_invoice_save_after">
        <!-- add our own observer on invoice, that contains the scopeConfig variable to enable/disable it  -->
        <observer name="noreservations_invoice_inventory_sales_source_deduction_processor" instance="EightWire\NoReservations\Observer\InvoiceSourceDeductionProcessor" />
    </event>
</config>